name: Build
on: [push, pull_request]
permissions:
  contents: read

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: cargo build
        run: cargo build --workspace
      - name: cargo test
        run: cargo test --workspace
